@charset "utf-8";
html,body,h1,h2,p,span,ul,li,dt,dd,dl{
    margin: 0; 
    padding: 0;
    line-height: 1.0;
    font-size: 62.5%;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

ul,li,a{
    text-decoration: none;
    list-style: none;

}


/* .nav */

.nav{
    background-color: #214c81b8;
    text-align: center;
    display: none;
    z-index: 99;
}
.nav.is-active{
    display: block;
}

.bagger {
    width: 1.875vw;
    display: flex;
    justify-content: center;
    height: 36px;
    cursor: pointer;
    z-index: 999;
}

.bagger .bar {
    width: 1px;
    margin: 0 3px;
    display: block;
    border-left: 2px solid rgb(133, 122, 122);
    transition: 0.5s;
    z-index: 100;
}

.bagger.hide .bar {
    transform: scale(1, 0);
}

.bagger .bar1 {
    height: 18px;
    align-self: flex-end;
}

.bagger.is-active .bar1 {
    transform-origin: 50% 100%;
    transform: translate(17px, -5px) rotate(-45deg) scale(1, 1.5);
}

.bagger .bar2 {
    height: 36px;
}

.bagger.is-active .bar2 {
    transform-origin: 50% 50%;
    transform: scale(1, 0);
}

.bagger .bar3 {
    height: 18px;
    align-self: flex-start;
}

.bagger.is-active .bar3 {
    transform-origin: 50% 0%;
    transform: translate(2px, 12px) rotate(45deg) scale(1, 1.5);
}



.nav-join-btn a, .nav-menu a{
    color: #fff;
    padding: 10px;
    
}
.nav-logo{
    width: 100%;
    padding-top: 20px;
}
.nav-logo img{
    width: 70px;
}

.nav-join-btn{
width: 100%;
margin: 0 auto;
}
.nav-join-btn-list{
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-join-btn-list li{
    border: 1px solid #fff;
    padding: 10px;
    margin: 20px;
    font-size: 1.6rem;
}

/* .nav-menu */

.nav-menu{
    width: 100%;
    margin: 20px auto;
}
.nav-menu-list{
    width: 80%;
    margin: 0 auto;
}
.nav-menu-list li{
    margin: 20px;
    text-align: left;
    font-size: 2rem;
}

/* .nav-sns */
.nav-sns{
    width: 100%;
    /* margin: 0 auto; */
    /* text-align: center; */
}

.nav-sns ul{
    width: 80%;
    margin: 0 auto;
display: flex;
justify-content: flex-end;
}

.nav-sns img{
    width: 25px;
    margin: 20px 0;
    padding: 7px;
}

/* .header-join */

.header-join{
    
}
.header-join-list{
    display: flex;
}
.header-join-list li{
    padding: 10px;

}