@charset "utf-8";
.wave-bg {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 83vh;
}

.wrap{
    overflow: hidden;
}
/* top スライド */
.full {
    z-index: 2;
    width: 100%;
    height: 100vh;
}
.full div {
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    /* background-attachment: fixed; */
    margin: 0;
    width: 100%;
  }
.full div.full-item01 {
  background-image: linear-gradient( rgba(16, 148, 230, .5), rgba(230, 234, 240, .5), rgba(165, 176, 234, .5)), url(../img/wave_background.jpg);
}
.full div.full-item02 {
  background-image: linear-gradient( rgba(16, 148, 230, .5), rgba(230, 234, 240, .5), rgba(165, 176, 234, .5)), url(../img/wave-front.jpg);
}
.full div.full-item03 {
  background-image: linear-gradient( rgba(16, 148, 230, .5), rgba(230, 234, 240, .5), rgba(165, 176, 234, .5)), url(../img/wave-pool.jpg);
}
.full div.full-item04 {
  background-image: linear-gradient( rgba(16, 148, 230, .5), rgba(230, 234, 240, .5), rgba(165, 176, 234, .5)), url(../img/wave-lounge.jpg);
}
.full div img {
    width: 100%;
    visibility: hidden;
}
.full .slick-dots {
    bottom: 4%;
    z-index: +1;
}

@media screen and (max-width: 768px) {
    .full {
        max-width: 100%;
        overflow: hidden;
    }
    .full div {
        background-size: cover;
    }
    .full div img {
        height: 100%;
        width: auto;
        max-width: 100vw;
    }
    .full div {
        background-position: center center;  
    }
    .full div.full-item01 {
      background-position: right 35% top;
    }
}


/*--------------------------- ヘッダー ------------------------------*/

header {
    position: relative;
    /* margin-bottom: -100px; */
}

/* グローバルメニュー */

.header-top{
    color: #fff;
    text-align: center;
    padding-bottom: 10%;
}

.header-top:hover{
    opacity: 0.7;
}

.container {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2;
}
.blank{
    padding-left: 7%;
    padding-bottom: 7%;
}
.join-block{
    padding-bottom: 10%;
    text-align: center;
}
.join-block ul{
    display: block;
    text-align: center;
    margin-left: 10%;
}
.join-block li{
    display: inline-block;
    /* margin: 0 5%; */
}

.join-block a{
    padding: 10px;
}

.join:hover {
    opacity: 0.8;
    color: gainsboro;
    transition: 0.8s;
}

.program-hv:hover{
    opacity: 0.8;
    color: gainsboro;
    transition: 0.8s;
    border-bottom: solid 1px gainsboro;
}

.join{
    border: solid 1px #fff;
    padding: 5px;
    font-size: 1.5rem;
}
.program span {
    padding-left: 2%;
    font-size: 1rem;
}
.sns-icon{
    display: flex;
    justify-content: flex-end;
}
.sns-icon li{
    padding-left: 5%;
}
.sns-ins:hover, .sns-fac:hover{
    opacity: 0.5;
    transition: 0.8s;
}
.bagger {
    width: 1.875vw;
    display: flex;
    justify-content: center;
    height: 36px;
    cursor: pointer;
    z-index: 999;
}

.bagger .bar {
    width: 1px;
    margin: 0 3px;
    display: block;
    border-left: 2px solid #eee;
    transition: 0.5s;
    z-index: 100;
}

.bagger.hide .bar {
    transform: scale(1, 0);
}

.bagger .bar1 {
    height: 18px;
    align-self: flex-end;
}

.bagger.is-active .bar1 {
    transform-origin: 50% 100%;
    transform: translate(17px, -5px) rotate(-45deg) scale(1, 1.5);
}

.bagger .bar2 {
    height: 36px;
}

.bagger.is-active .bar2 {
    transform-origin: 50% 50%;
    transform: scale(1, 0);
}

.bagger .bar3 {
    height: 18px;
    align-self: flex-start;
}

.bagger.is-active .bar3 {
    transform-origin: 50% 0%;
    transform: translate(2px, 12px) rotate(45deg) scale(1, 1.5);
}

.bagger-menu {
    display: none;
    transition: 0.5s;
    background-color: rgba(33, 76, 129, 0.86);
    opacity: 0.8;
    padding: 35px;
    width: 113%;
    z-index: 99;
}

.bagger-menu.is-active {
    display: block;
}

/*-----------------FV---------------------*/

.logo-concept {
    color: #fff;
}

.logo {
    position: absolute;
    z-index: 8;
    top: 17vh;
    width: 100%;
    text-align: center;
}

.logo img {
    width: min(10%, 150px);
    height: auto;
}

@media screen and (max-width:768px) {

    .logo img{
        width: 100px;
    }
}
.concept {
    position: absolute;
    line-height: 0.8;
    width: 100%;
    z-index: 8;
    top: 38vh;

}

.concept-text-ja {
    font-size: min(3.6vw, 18px);
    letter-spacing: 7px;
    font-family: 'Cormorant Garamond', serif sans-serif;
    width: 100%;
    text-align: center;
    margin-left: 7px;
    margin-top: 2%;
    color: #fff;
    text-shadow: 1px 2px 3px #808080;
}
@media screen and (max-width:768px) {
    .concept-text-en{
        margin-bottom: 10px;
    }
}

.concept-text-en {
    font-size: min(17vw, 180px);
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    
    padding-top: 1%;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
}

/* top ログイン　お問い合わせ */

.top-btn-list {
    position: absolute;
    z-index: 8;
    right: 5%;
    top: 45px;
    display: flex;
}
.top-btn-list li {
    padding: 5px 0 0 10px;
    font-size: 1.3rem;
}
.top-btn-list li:not(:list-child) {
    border-bottom: 1px solid #eee;
}
.top-btn-list li:hover {
    opacity: 0.8;
    transition: 0.8s;
    color: rgba(173, 169, 169, 0.692);
}
.top-btn-list img{
    width: 20px;
}

/*scroll down→*/

/* .scroll-text {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
    position: absolute;
    bottom: 90px;
    right: 0;
    padding-bottom: 50px;
    z-index: 10;
}

.scroll-line {
    position: relative;
    margin: 49px 0 0 37px;
    width: 1px;
    height: 50px;
    overflow: hidden;
    z-index: 4;
} */
/*--------------------------- メイン ---------------------------*/

#global-nav{
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 999;
}

/* 入会案内・体験予約 */

.trial {
    /* margin-top: 150px; */
    margin-left: 1%;
    width: 46%;
    text-align: center;
    line-height: 8;
}

.trial ul {
    display: block;
    padding: 0 20px;
}

.trial ul li {
    display: inline-block;
}
.trial li:hover {
    opacity: 0.8;
    color: gainsboro;
    transition: 0.8s;
    }


@media screen and (max-width:768px) {
    .header-bottom{
        flex-direction: column;
    }
    .trial{
        width: 100%;
        margin: 130px 0 10px 0;
    }
    .trial ul{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
}


.join-left, .join-right{
    border: 1px solid rgba(51, 51, 51, 0.493);
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: YuGothic, /* Mac用 */
    'Yu Gothic', /* Windows用 */
    sans-serif;
    padding: 1rem 1rem;
}

.join-right{
    margin-left: 2rem;
}

/* Keep the best with your passion 説明書き */

.header-bottom{
    display: flex;
    position: relative;
}
.explain {
    background: rgba(33, 76, 129, 0.86);
    opacity: 72%;
    color: #fff;
    text-align: center;
    width: 50%;
    min-height: 200px;
    z-index: 99;
    position: absolute;
    right: 20px;
    top: -30px;

}

.explain-massege {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    letter-spacing: 3px;
}

.explain-text {
    font-size: 1.4rem;
    line-height: 1.7;
    width: 80%;
    padding: 5px 0;
    text-align: justify;
    margin: 10px auto;
    letter-spacing: 1px;
}
@media screen and (max-width:768px) {
    .explain{
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .explain-massege{
        font-size: 2.5rem;
        letter-spacing: normal;
    }
    .explain-text{
        font-size: 1.2rem;
    }
}
/* cam バナー */
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.wrapper-svg {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate3d(20%, 10%, 0) rotate(170deg);
    transform: translate3d(20%, 10%, 0) rotate(170deg) scale(1, 0.55);
    width: 200%;
    height: 200%;
    z-index: 999;
}
@media screen and (max-width:768px) {
    .wrapper-svg{
        transform: translate3d(13%, 8%, 0) rotate(
            163deg
            ) scale(1, 0.55);
    }
}


.slider {
    width: 80%;
    margin: 5% 10%;
    box-sizing: border-box;
    height: 194px;
}
.slider img:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
.slider img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

/* info */
#info{
    margin-bottom: 10%;
}
.content-title{
    display: flex;
    margin: 2% 0 3% 7%;
    justify-content: left;
}

.content-title h2 {
    font-size: 4rem;
    font-family: 'Cormorant Garamond', serif;
}


.content-title p{
    font-size: 1.5rem;
    padding-left: 10px;
    font-family: YuGothic, /* Mac用 */
    'Yu Gothic', /* Windows用 */;
    padding-top: 20px;
}

.line{
    border-left: solid #5861A7 5px;
    height: 50px;
}
.info-box{
    display: flex;
    margin-bottom: -40px;
    justify-content: flex-start;
    margin-left: 10%;
    width: 80%;
    
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    /* margin-left: 10%; */
    font-size: 20px;
}

.info-list dt {
    width: 20%;
    padding: 10px 0;
    border-top: 1px rgba(51, 51, 51, 0.5) solid;
    font-weight: normal;
    /* text-align: left; */
    letter-spacing: 1px;
}

.info-list dd {
    width: 65%;
    padding: 10px 0;
    border-top: 1px rgba(51, 51, 51, 0.5) solid;
    text-align: left;
    font-weight: normal;
}

.info-list :first-of-type {
    border-top: none;
}

.more-link{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    align-items: flex-end;
}
.info-list dd:hover, .more-link:hover {
    opacity: 0.8;
    color: darkgray;
    transition: 0.8s;
}
.more{
    background-size: 50%;
    font-size: 25px;
    /* width: 20%; */
    /* padding-left: 30%; */
    margin-right: 30px;
    font-weight: 300;

}
.stickarrow {
    width: 100px;
    height: 8px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: skew(45deg);
    color: black;
    /* margin-left: 20%; */

  }

@media screen and (max-width:768px) {
    .line{
        height: 35px;
    }
    .content-title{
        margin: 10px 15px;
    }
    .content-title h2{
        font-size: 3.5rem;
    }
    .content-title p{
        font-size: 1.2rem;
    }
    .info-box{
        width: 90%;
        margin: 20px;
    }
    .info-list{
        width: 100%;
        font-size: 1.5rem;
    }
    .info-list dt{
        width: 100%;
        text-align: left;
        border: none;
        padding: 15px 0 3px 0;
    }
    .info-list dd{
        width: 100%;
        border-top: none;
        border-bottom: 1px solid #333;
    }
    .more-link{
        width: 95%;
        margin-left: 0;
        margin-top: 35px;
        align-items: flex-end;
        }
    /* .more{
        font-weight: 300;
    } */
    .stickarrow{
        width: 85px
        }

}

/* aboutus */

.explain-about{
    background: rgba(157, 183, 203, 0.3);
    width: 100%;
    height: 85vh;
    position: relative;
    z-index: 1;
}
.about-content{
    display: flex;
    z-index: 1;
    padding: 1% 0 0 1%;
}
.explain-list {
    background: rgba(33, 76, 129, 0.3);
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    width: 50%;
    position: absolute;
    top: 10vh;
    padding: 10px;
    left: 7vw;
    z-index: 5;
}
.explain-list h2{
    font-size: 4rem;
    z-index: 1;
}

.about-content-sp li{
    display: flex;

}
.about-content-sp p{
    font-family: YuGothic, /* Mac用 */
    'Yu Gothic', /* Windows用 */;
    align-content: space-around;
    font-size: 1.7rem;
    line-height: 4;
    z-index: 1;
    padding-left: 10px;
}
.about-content-sp span{
    font-size: 3rem;
    font-weight: 600;
    padding: 2%;
    z-index: 1;
}
.explain-about img {
    float: right;
    position: absolute;
    right: 5vw;
    top: 14vh;
    width: 40%;
    z-index: 1;
}

.explain-about .explain-about-description {
    width: 40%;
    position: relative;
    top: 54vh;
    left: 11vw;
    font-size: 1.5rem;
    line-height: 1.8;
}

@media screen and (max-width:768px) {
    .explain-about{
        margin-top: 50px;
        height: 79vh;
    }
    .explain-list{
        width: 80%;
        top: 5vh;
        left: 4vw;

    }
    .explain-list h2{
        font-size: 3.5rem;
    }
    .explain-list p{
        font-size: 1.4rem;
        padding: 0 0 15px 10px;
        line-height: inherit;
    }
    .about-content-sp li{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .about-content-sp span{
        display: block;
    }
    .explain-about img{
        top: 37vh;
        width: 50%;
    }
    .explain-about
    .explain-about-description {
        width: 90%;
        left: 5vw;
        top: 58vh;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

/* progrm */

.program-list {
    background-image: url(../img/bg-wave.png);
    opacity: 0.7;
    width: 100%;
}

.program-list ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.program-list li {
    position: relative;
    height: 100%;
    width: 49%;
    text-align: center;
    padding-bottom: 1%;
    margin-left: 1%;
}

.program-list li span {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 3.5vw;
    font-family: 'Cormorant Garamond', serif;
    top: 5%;
    left: 3%;
    text-shadow: 1px 2px 3px #494545;
    background: rgba(109, 92, 72, 0.3);
    padding: 1%;
}

.program-list li img  {
    height: auto;
    width: 100%;

}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(0.8);
	-webkit-transition: .3s ease-in-out;
	transition: .2s ease-in-out;
}
.program-list li:hover img {
	-webkit-transform: scale(1);
	transform: scale(0.9);
    transition: 0.8s;
}

@media screen and (max-width:768px) {
    .experience{
        margin-top: 30px;
    }
    .program-list ul{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
    }
    .program-list ul li{
        width: 100%;
        margin-bottom: 10px;
    }
    .program-list li span {
        font-size: 8.5vw;
    }
}


/* アプリ */

.app {
width: 100%;
text-align: center;
background: #eee;
}
.app img{
    width: 60%;
}

@media screen and(max-width:768px) {


}
/*--------------------------- フッター ---------------------------*/

.footer {
    width: 100%;
    text-align: center;
}
.footer img{
    width: 7%;
}
.return-top:hover {
    color: black;
    transition: 0.8s;
}
@media screen and (max-width:768px) {
    .footer img{
        width: 15%;
    }
}

.copyright{
    padding: 2%;
}
